/*===================================================== Reset CSS Start=====================================================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===================================================== Reset CSS Finish =====================================================*/



/*===================================================== Global styles =====================================================*/

/* global colors */

@import "./globalColors.css";


@font-face {
  font-family: shabnam;
  src: url("/fonts/shabnam/Shabnam-Medium.woff");
}

@font-face {
  font-family: shabnam-Bold;
  src: url("/fonts/shabnam/Shabnam-Bold.woff");
}

@font-face {
  font-family: Dana;
  src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
}

@font-face {
  font-family: DanaBold;
  src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}

@font-face {
  font-family: DanaMedium;
  src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

@font-face {
  font-family: Morabba;
  src: url("/fonts/Morabba/woff2/Morabba-Light.woff2");
}

@font-face {
  font-family: MorabbaBold;
  src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2");
}

@font-face {
  font-family: MorabbaMedium;
  src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;


}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff !important;
  border-radius: 6px !important;

}

body::-webkit-scrollbar-thumb {
  background-color: #711d1c !important;
}

html,
body {
  max-width: 100vw;
  font-family: Dana;
  /* font-family:MorabbaBold ; */
}

body {
  background: white;
  position: relative;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

@media (max-width:1260px) {
  .container{
    padding:0 1.5rem;
  }
}
@media (max-width:540px) {
  .container{
    padding:0 1rem;
  }
}

/* swiper */
.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
  font-size: 26px !important;
  color: #070707 !important;
  font-weight: 1000;
}

.home-slider .swiper-button-prev:after,
.home-slider .swiper-button-next:after {
  font-size: 14px !important;
  color: #070707 !important;
  font-weight: 1000;
}

.home-slider img {
  position: relative;
  right: 1px;
}

.gallery-slider .swiper-button-prev:after,
.gallery-slider .swiper-button-next:after {
  font-size: 26px !important;
  color: #070707 !important;
  font-weight: 1000;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-slider-2 {
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-slider-2 .swiper-slide {
  opacity: 0.4;
}

.gallery-slider-2 .swiper-slide-thumb-active {
  opacity: 1;
}

.articles_slider .swiper-button-prev,
.articles_slider .swiper-button-next {
  opacity: 0;
}

.articles_slider:hover .swiper-button-prev,
.articles_slider:hover .swiper-button-next {
  opacity: 1;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

/* swal */
.swal-footer {
  text-align: center;
}

.swal-modal {
  background: #ffffff !important;
  border: 1px solid #711d1c;
}

.swal-title {
  color: #000000 !important;
}

.swal-button--confirm {
  background: #fff;
  color: #711d1c;
}

.swal-content__input:focus,
.swal-content__textarea:focus {
  outline: none;
  border-color: #711d1c !important;
}

.swal-button:not([disabled]):hover {
  box-shadow: none !important;
}

.swal-button--cancel:hover {
  background-color: #efefef !important;
}

.swal-button--confirm {
  box-shadow: none !important;
  background: #e9e5e5 !important;
}

.swal-content__input {
  color: black !important;
}

.swal-button:focus {
  box-shadow: none !important;
}

/* charts */
.yAxis .recharts-cartesian-axis-tick-value {
  text-anchor: start !important;
}

.css-13cymwt-control,
.css-16xfy0z-control {
  height: 51px;
  margin-top: 0.3rem;
}

/* leaflet */

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}

.leaflet-top {
  right: 12px !important;
  bottom: 12px !important;
  left: unset !important;
  top: unset !important;
}